* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
  background-color: white;
}

nav {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > h1 > a {
  text-decoration: none;
  color: black;
}
nav > a {
  color: black;
  text-decoration: none;
  padding-right: 50px;
  font-weight: bold;
}
nav h1 {
  padding-left: 50px;
  font-size: 1.8em;
}

hr {
  background-color: #bbc3c9;
  height: 2px;
  border: none;
}

.container {
  text-align: center;
  margin: 50px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#sudoku-board {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 0;
  border: 5px solid black;
}

.cell {
  width: 50px;
  height: 50px;
  font-size: 1.2em;
  text-align: center;
  border: 1px solid #ddd;
  font-weight: bold;
}

.cell[data-initial="true"] {
  background-color: lightblue;
}

.cell:focus {
  outline: none;
  background-color: lightblue;
}

.cell.user-input {
  /* color: #244855;  */
  color: black;
  font-weight: bold;
}

/* 3x3 grid borders */
#sudoku-board .cell:nth-child(3n) {
  border-right: 2px solid black;
}

#sudoku-board .cell:nth-child(9n + 1) {
  border-left: 2px solid black;
}

#sudoku-board .cell:nth-child(n + 19):nth-child(-n + 27),
#sudoku-board .cell:nth-child(n + 46):nth-child(-n + 54) {
  border-bottom: 2px solid black;
}

.pad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
}

button {
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #ddd;
}

.buttons {
  margin-top: 10px;
}

footer {
  width: 100vw;
  color: rgb(117, 117, 117);
  margin-top: 100px;
}

.about-sudoku {
  padding: 50px;

  line-height: 1.5;
}

.sudoku-desc {
  margin: 10px 0;
  text-align: justify;
}

/* Solution colors */
.correct {
  background-color: lightgreen;
}

.incorrect {
  /* background-color: rgb(223, 81, 81); */
  background-color: #E64833;
  color: white;
  position: relative;
}

.unfilled {
  background-color: lightblue;
}
.nocolor {
  background-color: white;
}

.correct-value {
  position: absolute;
  bottom: 2px;
  right: 2px;
  font-size: 0.7em;
  color: white;
  font-weight: bold;
  pointer-events: none;
}

@media (max-width: 770px) {
  nav h1 {
    padding-left: 5%;
    font-size: 1.3em;
  }
  nav > a {
    color: black;
    text-decoration: none;
    padding-right: 5%;
  }

  .container {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .pad {
    display: none;
  }
  .buttons {
    margin-top: 10px;
  }

  .cell {
    width: 2em;
    height: 2em;
    font-size: 1em;
    text-align: center;
    border: 1px solid #ddd;
  }
  button {
    font-size: 1em;
    font-weight: bold;
    padding: 8px;
    cursor: pointer;
    width: 100%;
  }
}
